<!DOCTYPE HTML>
<html>

<head>
  <title>Каталог телефонов</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
  <meta charset="utf-8">

  <style>
    .menu__title {
      cursor: pointer;
    }

    .menu__list {
      display: none;
    }

    .menu_open .menu__list {
      display: block;
    }
  </style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js" defer></script>
  <script src="menu.js" defer></script>
  <script src="app.js" defer></script>
</head>

<body>

  <script type="asdasd" id="menu-template">
    <span class="menu__title"><%- title %></span>
    <ul class="menu__list">
      <% items.forEach(function(item) { %>

        <li><%- item %></li>

      <% }); %>
    </ul>
  </script>

  <div class="menu"
    data-component="menu"
    data-items="1,2,3"
    data-title="menu1"></div>

  <div class="menu"
    data-component="menu"
    data-items="4,5,6"
    data-title="menu2"></div>

</body>

</html>